body{
    background-color: #74ABE2;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 40px;
    color: #db8829;
    margin-top: 0.1mm;
}

.main{
    background: #fff;
    padding: 3rem;
    border-radius: 2rem;
    text-align: center;
    height: 400px;
    width: 400px;
    margin-top: 50px;
}

#number{
    color: blue;
    font-size: 60px;
    font-weight: bold;
    margin: 20px;
}

#words{
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    padding: 0;
}

input[type="button"] {
    width: 20%;
    height: 20%;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    background-color: #636ed6;
    color: white;
}

#btn1{
    margin-right: 15px;
    margin-left: 15px;
}
#btn2{
    margin-right: 15px;
    margin-left: 15px;
}
#btn3{
    margin-right: 15px;
    margin-left: 15px;
}

#resultW{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
#resultL{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}